# Terraform state (never commit)
*.tfstate
*.tfstate.*
.crash
*.log
.terraform/


*.tfvars              # ignore all tfvars by default
!env/*.tfvars         # but allow env/ dev & prod tfvars to be committed
terraform.tfvars.json # local JSON tfvars stays ignored


.DS_Store
